@model LibraryProject.Models.Carti

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Carti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titlu" class="control-label"></label>
                <input asp-for="Titlu" class="form-control" />
                <span asp-validation-for="Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategorie" class="control-label">Nume Categorie</label>
                <select asp-for="IdCategorie" class ="form-control" asp-items="ViewBag.IdCategorie"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label">Nume Autor</label>
                <select asp-for="IdAutor" class ="form-control" asp-items="ViewBag.IdAutor"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnPublicare" class="control-label">An Publicare</label>
                <input asp-for="AnPublicare" class="form-control" />
                <span asp-validation-for="AnPublicare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarPagini" class="control-label">Numar Pagini</label>
                <input asp-for="NumarPagini" class="form-control" />
                <span asp-validation-for="NumarPagini" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StocDisponibil" class="control-label">Stoc Disponibil</label>
                <input asp-for="StocDisponibil" class="form-control" />
                <span asp-validation-for="StocDisponibil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

